.Palette {
    height: 100vh;
}
.Palette-colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 90%;
}
.ColorBox {
    display: flex;
    flex: 0 1 20%;
    max-width: 20%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}