body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}
.flex {
  display: flex;

  &.flex-inline {
    display: inline-flex;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-sa {
    justify-content: space-around;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.jc-start {
    justify-content: flex-start;
  }

  &.ai-center {
    align-items: center;
  }

  &.ai-start {
    align-items: flex-start;
  }

  &.ai-end {
    align-items: flex-end;
  }
}

.MuiPaper-root {
  top: 66px !important;
}

.palette-form {
  position: relative;
  overflow: hidden;
  height: 100vh;
  .app-nav {
    height: 75px;
    padding: 0 30px;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: -5px 5px 20px rgba(8,42,62,.09);

    .left {
      .create {
        cursor: pointer;
        svg {
          max-width: 50px;
          height: auto;
          margin-right: 10px;
        }
      }
    }
    .right {
      button {
        & + button {
          margin-left: 20px;
        }
      }
    }
  }
  .side {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    z-index: 11;
    transform: translateX(-100%);
    opacity: 0;
    box-shadow: -5px 5px 20px rgba(8,42,62,.09);
    transition: 0.5s cubic-bezier(.07,.08,.16,.99);
    &.active {
      opacity: 1;
      transform: translateX(0);
    }
    .top {
      height: 75px;
      border-bottom: 1px solid #f4f4f4;
      img {
        max-width: 20px;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
  .main-content {
    width: 100%;
    padding-left: 0;
    transition: 0.5s cubic-bezier(.07,.08,.16,.99);
    .content {
      padding: 20px;
    }
    &.active {
      width: calc(100% - 400px);
    }
  }
}


