body {
  font-family: 'Poppins', sans-serif;
  // overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: calc(100% - 10%);
  margin: auto;
}

.flex {
  display: flex;

  &.flex-inline {
    display: inline-flex;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-sa {
    justify-content: space-around;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.jc-start {
    justify-content: flex-start;
  }

  &.ai-center {
    align-items: center;
  }

  &.ai-start {
    align-items: flex-start;
  }

  &.ai-end {
    align-items: flex-end;
  }
}

.MuiPaper-root {
  top: 66px !important;
}