body {
  font-family: 'Poppins', sans-serif;
}
.flex {
  display: flex;

  &.flex-inline {
    display: inline-flex;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-sa {
    justify-content: space-around;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.jc-start {
    justify-content: flex-start;
  }

  &.ai-center {
    align-items: center;
  }

  &.ai-start {
    align-items: flex-start;
  }

  &.ai-end {
    align-items: flex-end;
  }
}

.Palette {
    height: 100vh;
    overflow: hidden;
}

.Palette-colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 90%;
}

.ColorBox {
    display: flex;
    flex: 0 1 20%;
    max-width: 20%;
    height: 25%;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;

    .copy-overlay {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -10;
        transform: scale(0) translateZ(0);
        transition: transform 0.5s ease-in-out;

        &.active {
            z-index: 10;
            opacity: 1;
            transform: scale(100) translateZ(0);
        }
    }

    .copy-msg {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        z-index: -11;
        transform: scale(0.1);
        p {
            margin: 0;
            width: 100%;
            padding: 20px 0;
            text-align: center;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: white;
            font-weight: 400;
            font-size: 4rem;
            background: rgba(black, 0.2);
            margin-bottom: 30px;
        }
        span {
            width: 100%;
            text-align: center;
            color: white;
            display: inline-block;
            font-size: 2rem;
            font-weight: 100;
        }
        &.active {
            z-index: 11;
            opacity: 1;
            transform: scale(1);
            transition: 0.5s ease-in-out;
            transition-delay: 0.1s;
        }
    }

    .copy-button {
        width: 100px;
        height: 30px;
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        outline: none;
        background: rgba( 255, 255, 255, 0.3 );
        font-size: 1rem;
        line-height: 1.875rem;
        color: white;
        border: none;
        opacity: 0;
        transition: 0.25s ease-in-out;
    }

    .copy-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .box-content { 
        display: flex;
        align-items: center;
        justify-content: space-between;     
        width: 100%; 
        color: black;
        letter-spacing: 1px;
        font-size: 0.75rem;
        .name {
            padding: 7px;
        }
        .see-more {
            padding: 10px; 
            background: rgba( 255, 255, 255, 0.3 );
            color: white;
            padding: 7px;
        }

    }

    &:hover {
        .copy-button {
            opacity: 1;
        }
    }
}
.slider-wrapper {
    .info {
        margin-right: 20px;
    }
    .slider {
        width: 340px;
        margin: 0 10px;
    
        .rc-slider-track {
            background-color: transparent;
        }
    
        .rc-slider-handle {
            &,&:active,&:hover,&:focus {
                width: 13px;
                height: 13px;
                position: relative;
                top: 2px;
                background-color: green;
                outline: none;
                box-shadow: none;
                border: 2px solid green;
            }
        }
    
        .rc-slider-rail {
            height: 8px;
        }
    }
}


header {
    height: 80px;
    padding: 0 30px;
    .logo {
        margin-right: 30px;
        .svg {
            max-width: 40px;
        }
    }
}

.MuiPaper-root {
  top: 66px !important;
}