body {
  font-family: 'Poppins', sans-serif;
  // overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: calc(100% - 10%);
  margin: auto;
  @media screen and(max-width: 768px) {
    max-width: calc(100% - 5%);
  }
}

.flex {
  display: flex;

  &.flex-inline {
    display: inline-flex;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-sa {
    justify-content: space-around;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.jc-start {
    justify-content: flex-start;
  }

  &.ai-center {
    align-items: center;
  }

  &.ai-start {
    align-items: flex-start;
  }

  &.ai-end {
    align-items: flex-end;
  }
}

.MuiPaper-root {
  top: 66px !important;
}

.single-paletteFooter {
  padding: 0 30px;
  height: 75px;
  @media screen and (max-width: 767px) {
    height: 50px;
    margin-top: 6px;
    padding: 0;    
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: rgba(black,0.6);
  opacity: 0;
  transition: 0.2s ease-in-out;
  &.active {
    opacity: 1;
    z-index: 100;
  }
}

.save-palette-form {
  z-index: -100;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  padding: 30px;
  transition: 0.2s ease-in-out;
  border: 1px solid black;
  &.active {
    z-index: 101;
    opacity: 1;
  }

  .close-icon {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }

  form {
    height: 100%;
  }
  .title {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 30px;
  }
  .buttons-wrapper {
    align-self: flex-end;
    button {
      & + button {
        margin-left: 20px;
      }
    }
  }
}


.MuiSelect-select.MuiSelect-select {
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}